@import "~bootstrap/scss/bootstrap.scss";


.board{
    background-color: black;
    height: 70%;
    width: 70%;
} 

.cell{
    background-color: withe;
    height: 50px;
    width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.x{
    background-image: url("../img/letterx_83737.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.o{
    background-image: url("../img/filled-circle_icon-icons.com_72757.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;height: 50px;
    width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;

}

.players{
    display: flex;
    justify-content:space-around;
}

.players2{
    margin-right: 20px;
    margin-left: 20px;
}

